.btn-content {
  display: flex; 
  position: absolute;
}

.btn-delate,
.edit,
.btn {
  font-size: 15px;
  border-radius: 2px;
  border: 2px solid var(--mar);


}


.spaceNote {
  display:none;
  align-items: center;
  padding: 22%;
  border-radius: 5%;
  justify-content: center;

}
.formTex {
  display:grid;
  place-items: center;
}
.btn-content {
display: flex;

} 

.signOut {
  border-radius: 4px;
  /* position: relative; */
  /* top: 2%; */
  /* left: 130%; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2ba47;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media only screen and (min-width:577px) {

.spaceNote {

    padding:150px;
  }


  
}

/* @media (min-width: 1281px){} */